// The colours used throughout the site.
$base-colour: #333;
$primary-colour: #0C8B90;
$secondary-colour: #AB4180;

// The general spacing between items vertically.
$vertical-rhythm: 2vh;

// Typography.
$font-size: 1.8vw;
$font-family: 'Roboto Condensed', sans-serif;
$font-colour: #FFF;
$font-weight: 300;

// Other useful one-timers.
$noise-data: url("/noise.png");
